.soft-UI {
    border-radius: 10px;
    background: #537238;
    box-shadow: 7px 7px 13px #47682a,
        -7px -7px 13px #61873f;
}

.soft-UI:hover {
    /* transform: translateY(-4px) translateX(-2px); */
    border-radius: 10px;
    /* background: #615c5c; */
    background: linear-gradient(145deg, #4b6535, #5f7c46);
    box-shadow: 8px 8px 10px #47682a,
        -8px -8px 10px #61873f;
}

.soft-UI:active {
    transform: translateY(2px) translateX(1px);
}